@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customHunter {
  background: linear-gradient(to bottom, #ff4500, #3b0d0c);
}

.buttonGradation {
  background: linear-gradient(to right, #2684a7, #8e44ad);
}

.background-image1 {
  background-image: url('/images/background/sp/sp-1.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image2 {
  background-image: url('/images/background/sp/sp-2.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image3 {
  background-image: url('/images/background/sp/sp-3.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image3 {
  background-image: url('/images/background/sp/sp-3.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image4 {
  background-image: url('/images/background/sp/sp-4.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image5 {
  background-image: url('/images/background/sp/sp-5.jpeg');
  background-size: cover; /* 画像を全体にフィットさせる */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 中央に配置 */
  width: 100%;
  height: 100vh;
}
.background-image6 {
  background-image: url('/images/background/sp/sp-6.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image7 {
  background-image: url('/images/background/sp/sp-7.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image8 {
  background-image: url('/images/background/sp/sp-8.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image9 {
  background-image: url('/images/background/sp/sp-9.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image10 {
  background-image: url('/images/background/sp/sp-10.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image11 {
  background-image: url('/images/background/sp/sp-11.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image12 {
  background-image: url('/images/background/sp/sp-12.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image13 {
  background-image: url('/images/background/sp/sp-13.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image14 {
  background-image: url('/images/background/sp/sp-14.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image15 {
  background-image: url('/images/background/sp/sp-15.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image16 {
  background-image: url('/images/background/sp/sp-16.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image17 {
  background-image: url('/images/background/sp/sp-17.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image18 {
  background-image: url('/images/background/sp/sp-18.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image19 {
  background-image: url('/images/background/sp/sp-19.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image20 {
  background-image: url('/images/background/sp/sp-20.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image21 {
  background-image: url('/images/background/sp/sp-21.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image22 {
  background-image: url('/images/background/sp/sp-22.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image23 {
  background-image: url('/images/background/sp/sp-23.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image24 {
  background-image: url('/images/background/sp/sp-24.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image25 {
  background-image: url('/images/background/sp/sp-25.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image26 {
  background-image: url('/images/background/sp/sp-26.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image27 {
  background-image: url('/images/background/sp/sp-27.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image28 {
  background-image: url('/images/background/sp/sp-28.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image29 {
  background-image: url('/images/background/sp/sp-29.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image30 {
  background-image: url('/images/background/sp/sp-30.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image31 {
  background-image: url('/images/background/sp/sp-31.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image32 {
  background-image: url('/images/background/sp/sp-32.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image33 {
  background-image: url('/images/background/sp/sp-33.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image34 {
  background-image: url('/images/background/sp/sp-34.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image35 {
  background-image: url('/images/background/sp/sp-35.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image36 {
  background-image: url('/images/background/sp/sp-36.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.background-image37 {
  background-image: url('/images/background/sp/sp-37.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.background-image38 {
  background-image: url('/images/background/sp/sp-38.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image39 {
  background-image: url('/images/background/sp/sp-39.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image40 {
  background-image: url('/images/background/sp/sp-40.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.background-image41 {
  background-image: url('/images/background/sp/sp-41.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
/* Topの画像 */
.background-image0 {
  /* 空から落ちるイルミ */
  /* background-image: url('/images/background/sp/sp-40.jpg'); */
  background-image: url('/images/background/sp/sp-52.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* 初級 */
.bg-easy {
  background-color: #dfffd6;
}

/* 中級 */
.bg-normal {
  background-color: #ffe4c4;
}

/* 上級 */
.bg-hard {
  background-color: #ffd6d6;
}

/* input rangeを強制的に上書きして実装する */

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 80%;
  /* Track のスタイル */
  background: #efafda;
  height: 8px;
  border-radius: 8px;
}

/* 音量バーの色の変更 */

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #2e8b57;
  border-radius: 50%;
}

/* Thumb: Firefox */
input[type='range']::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  background-color: #2e8b57;
  border-radius: 50%;
}

.popup-no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
